  
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

.page-container{
    flex: 1 1 auto;
    background: #e7e7e7;
    height: 100vh;
}

@media screen and (max-width: 667px) {
    .page-container {
        flex: 1 1 0;
    }
}

.content-container{
    margin: 4rem;
}

.title{
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.desc-search{
    margin-bottom: 0.5rem;
}

.search-country{
    width: 400px;
    height: 1.5rem;
    border-radius: 5px;
    outline: none;
    border:none;
    text-align: center;
}

.search-country::placeholder{
    text-align: center;
}


.form{
    display: flex;
    margin-top: 1rem;
}

@media screen and (max-width: 667px) {
    .form {
        flex-direction: column;
    }
    .button-submit{
        height: 2rem;
        width: 365.4px;
    }

    .icon{
        margin-bottom: 1rem;
    }

    .search-country{
        margin-bottom: 1rem;
        width: 365.4px;
        height: 2rem;
    }
}

.icon{
    margin-right: 10px;
    margin-top: 3px;
}

.button-submit{
    padding: 0 0.5rem;
    background: blueviolet;
    color: white;
    border: none;
}

.button-submit:hover{
    cursor: pointer;
}